/* Don't highlight anything on click-and-drag. */
:not(input):not(textarea) 
{   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body 
{    overflow:             hidden;
	 font-family:          sans-serif;
	 top:                  0px;
	 left:                 0px;
	 width:                100%;
	 height:               100%;
	 margin:               0px;
	 padding:              0px;
	 
     background-color:     rgba(150, 200, 250, 0.5);       /*linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%);*/
}

#blocker 
{    position:             absolute;
	 top:                  0px;
	 left:                 0px;
	 width:                100%;
	 height:               100%;
	 margin:               0px;
	 padding:              0px;
	 
     /*background-color:     rgba(100, 150, 200, 0.5);*/        /*linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%);*/
}
			
/*
#container
{    position:            absolute; 
     z-index:             -100;
}
*/
/******************************************************************/
/******************************************************************/
/*
#footer 
{  position:            absolute;
   bottom:              0;
   width:               100%;
   height:              100px;   
   opacity:             0.85;
   
   background:          url("http://www.hawksrestcabins.com/wp-content/uploads/2014/06/wood-texture-hd.jpg");
   background-size:     cover;      
}
*/
/******************************************************************/
/******************************************************************/
/*used by jspanel.js*/
.flexOne {
    display:   flex;
    flex-flow: row wrap;
}

.flexOne > div:first-of-type {
    display:    flex;
    flex-flow:  column;
    padding:    0 6px;
    background: #F1F1F1;
}

.flexOne > div:first-of-type span {
    font-size: 20px;
    cursor:    pointer;
    padding:   5px;
}
.flexOne .textcontent {
    padding: 10px;
    flex:    1 1 0;
}	

/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/



/******************************************************************/
/******************************************************************/


/******************************************************************/
/******************************************************************/


