<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="stylesheets/index/index.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.3/lock.min.js"></script>
    <script src="js/user/myutils.js"></script>
    
    <script>
        $(document).ready(function() 
        {   // fade in content.
		        $( '#content-wrapper' ).fadeIn("slow");		
        });
    </script>          
  </head>

  <body>
    
    <div id="content-wrapper" style="display:none;"> 
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
  
    <%include index/myindex.ejs%>

    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    </div> <!--div id="content-wrapper"-->

    <script>
      var lock = new Auth0Lock( "<%=env.clientID%>",
                                "<%=env.domain%>",
                                { auth: { redirectUrl: "<%=env.callbackURL%>",
                                          responseType: 'code',
                                          params: { scope: 'openid name email picture'}
                                        }
                                });

      function signin(){   lock.show();}
    </script>

    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <!-- Start of Rocket.Chat Livechat Script -->
    <!--
    <script type="text/javascript">
        (function(w, d, s, u) 
        {   w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
	        var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
	        j.async = true; j.src = 'https://rchat.1sekolah.xyz/packages/rocketchat_livechat/assets/rocket-livechat.js';
	        h.parentNode.insertBefore(j, h);
        })(window, document, 'script', 'https://rchat.1sekolah.xyz/livechat');
    </script>
    -->
    <!-- End of Rocket.Chat Livechat Script -->

  </body>

</html>