<!doctype html>
<html>

<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<head>
	<title>1sekolah</title>
	<!--link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"></link-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jspanel3/3.3.1/jquery.jspanel.min.css"></link>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" media="all" title="Screen"></link>
	<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" media="all" title="Screen"></link-->
	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"-->    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">    
	
	<link rel="stylesheet" href="stylesheets/user/main.css"></link>
	<link rel="stylesheet" href="js/lib/smallipop/css/jquery.smallipop.min.css" media="all" title="Screen"></link>

    
	<!-------------------------------------------------------------------------------------->
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspanel3/3.3.1/jquery.jspanel-compiled.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
    
    
	<script src="js/user/myutils.js"></script>
	<script src="js/lib/db/myfirebase.js"></script>
	<script src="js/lib/smallipop/lib/jquery.smallipop.min.js"></script>    <!--http://www.jqueryscript.net/demo/Versatile-Beautiful-Tooltip-Plugin-smallipop/-->

	<!-------------------------------------------------------------------------------------->
	<!-------------------------------------------------------------------------------------->
	
	<!--script src="js/lib/threejs/three_v82.min.js"></script-->
	<!--script src="js/lib/threejs/three_v84.min.js"></script-->
	<!--script src="js/lib/threejs/PlayerControls.js"></script-->
	<script src="js/lib/threejs/three_v86dev.min.js"></script>
	<script src="js/lib/threejs/js/libs/stats.min.js"></script>

	<script src="js/lib/threejs/js/shaders/UnpackDepthRGBAShader.js"></script>
	
	<!--script src="js/lib/threejs/js/utils/ShadowMapViewer.js"></script-->
	<!--script src="js/lib/threejs/js/utils/GeometryUtils.js"></script-->

    <!--
	<script src="js/lib/threejs/js/loaders/collada/Animation.js"></script>
	<script src="js/lib/threejs/js/loaders/collada/AnimationHandler.js"></script>
	<script src="js/lib/threejs/js/loaders/collada/KeyFrameAnimation.js"></script>
	<script src="js/lib/threejs/js/loaders/ColladaLoader.js"></script>
	-->
	<script src="js/lib/extjs/PlayerControls.js"></script>
    <script src="js/lib/extjs/THREEx/THREEx.KeyboardState.js"></script>
    <script src="js/lib/extjs/THREEx/raf-throttler.js"></script>

    
    <script src="js/lib/extjs/xgui.min.js"></script>
    <script src="js/lib/extjs/ImprovedNoise.js"></script>
    <!--script src="js/lib/extjs/physi.js"></script-->
    <!--script src="js/lib/extjs/ejs.min.js"></script-->
    <!--script src="js/lib/extjs/mainloop.min.js"></script-->
    
    <!--script src="js/lib/GPUPicker/GPUPicker.js"></script-->
    
    <script>
        $(document).ready(function() 
        {   // fade in content.
		    $( '#content-wrapper' ).fadeIn("slow");		
		    ///////////////////////////////////////////////
        });
        
        function myready()
        {   /*
            var container       = document.getElementById("container");
            container.addEventListener("click",   function()
            {   //if(document.activeElement)document.activeElement.focus();
                if(document.activeElement == document.getElementsByTagName("iframe")[0]) 
                {   console.log('iframe has focus');
                } 
                else 
                {   console.log('iframe not focused');
                    //document.activeElement.blur();
                    //document.getElementById("iframecontent").blur();
                    //document.getElementById("container").focus();
                }      
            });    
            */
            //////////////////////////////////////////////////////////////////////
            //document.getElementById("container").addEventListener("click",   function(){ if(document.activeElement)document.activeElement.blur();});
            //////////////////////////////////////////////////////////////////////
            /*
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function()
            {   var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/580cd22be808d60cd071dff0/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
            */
            ///////////////////////////////////////////////////////////////////////
            //$(".slide-menu").slidemenu();
            /////////////////////////////////////////////////////////////////////// 
            /*
            (function(w, d, s, u) 
            {   w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
	            var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
	            j.async = true; j.src = 'https://www.1sekolah.xyz/packages/rocketchat_livechat/assets/rocket-livechat.js';
	            h.parentNode.insertBefore(j, h);
            })(window, document, 'script', 'https://www.1sekolah.xyz/livechat');
            */
            ////////////////////////////////////////////////////////////////////////
            // blur the iframe
            //document.getElementById("iframecontent").blur();
            // set focus on #foo
            //document.getElementById("container").focus();
            // when iframe tries to focus, focus #foo
            //document.getElementById("container").onblur = function() {this.focus();};
        };

        $(window).resize(function()
        {    
        });
        
        /////////////////////////////////////////////////////
        function myLoad()
        {   history.pushState({},'','user');
            myready();
            //focusit();
            breakout();
            
            //var username_ = ejs.render('<%=username%>');
            //setCookie("username",username_,1);

            setCookie("username","<%=username%>",1);
            
            console.log("getCookie('avatar')=",    getCookie("avatar"));
            console.log("getCookie('username')=",  getCookie("username"));
        }
    </script>

</head>

<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->

<body onload="myLoad();" onclick="myClickFunction();">
<!--body onload="myLoad();"-->
    

    <!--script type="text/javascript">
        $(document).ready(function() 
        {    var user = "<%=username%>";//hehe
             //var user = $("#username").html(); 
             alert(user);  // now JS variable 'x' has the uid that's passed from the node backend.
             setCookie("username",user,1);
             console.log("getCookie('username')=",  getCookie("username"));
        });
    </script-->

    <!--h2 style="display:none;" id="username">"<%=username%>"</h2-->
    <!--h2 style="display:none;" id="username">bodoh2</h2-->

    

    <div id="container"></div>
    <!--div id="content-wrapper" style="display:none; z-index:100;"-->
    
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <div id="content-wrapper">
        <%include user/mycontextmenu.ejs%>
        
        <!--%include user/mypanel1.ejs%-->
        <!--%include user/mymainmenu.ejs%--->
        <!--%include user/myrightsidemenu.ejs%-->
        
        <!--%include user/myfsnav-overlay.ejs%-->
        <!--%include user/myleftsidemenu.ejs%-->
        <!--%include user/myclassyfooter.ejs%-->
        <!--%include user/myhammenu.ejs%-->
        <!--%include user/mysidenavi.ejs%-->
        <!--%include user/mymenu3D.ejs%-->
        <%include user/mycabinet.ejs%>
        
        
        <!--div id="iframecontent" style="position:absolute; left:10%; right:10%; bottom:10%; top:10%;">
            <iframe width="100%" height="100%" frameborder="0" src="home"></iframe>
        </div-->
    </div>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>

    <!------------ video shaders --------------------------------------->
	<script id="vertexShader" type="x-shader/x-vertex">
		varying vec2 vUv;
		void main()
		{	vUv = uv;
			//vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
			//gl_Position = projectionMatrix * mvPosition;
			gl_Position = projectionMatrix * vec4(modelViewMatrix * vec4( position, 1.0 ));
		}
	</script>

	<script id="fragmentShader" type="x-shader/x-fragment">
		uniform sampler2D texture;
		uniform vec3 color;
		varying vec2 vUv;
		void main()
		{	vec3 tColor = texture2D( texture, vUv ).rgb;
			//float a = (length(tColor - color) - 0.5) * 7.0;
			//gl_FragColor = vec4(tColor, a);
			gl_FragColor = vec4(tColor, ((length(tColor - color) - 0.5) * 7.0));
		}
	</script>
    <!------------ /video shaders -------------------------------------->
	
    <!------------ ShaderDepth shaders ----------------------------------->
	<script id="vertexShaderDepth" type="x-shader/x-vertex">
		varying vec2 vUv;
		void main() 
		{	//vUv = 0.75 * uv;
			//vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
			//gl_Position = projectionMatrix * mvPosition;
			
			vUv = uv;
			gl_Position = projectionMatrix * vec4(modelViewMatrix * vec4( position, 1.0 ));
		}
	</script>	

    <script id="fragmentShaderDepth" type="x-shader/x-fragment">
		#include <packing>
		uniform sampler2D texture;
		uniform vec3 color;
		varying vec2 vUv;
		void main() 
		{	/*
		    //vec4 pixel = texture2D( texture, vUv );
		    //if ( pixel.a < 0.5 ) discard;
		    /////////////////////////////////////////////////////
		    vec3 tColor = texture2D( texture, vUv ).rgb;
		    float a = (length(tColor - color) - 0.5) * 7.0;
			if ( a < 0.5 ) discard;
			//////////////////////////////////////////////////////
			gl_FragData[ 0 ] = packDepthToRGBA( gl_FragCoord.z );
			*/
			//vec3 tColor = texture2D( texture, vUv ).rgb;
			//float a = (length(tColor - color) - 0.5) * 7.0;
			//if ( a < 0.5 ) discard;
			//if(((length(tColor - color) - 0.5) * 7.0)<0.5)discard;
			if(((length(texture2D( texture, vUv ).rgb - color) - 0.5) * 7.0)<0.5)discard;
			gl_FragData[ 0 ] = packDepthToRGBA( gl_FragCoord.z );
			
		}
	</script>
    <!------------ skybox shaders --------------------------------------->
    <script id="sky-vertex" type="x-shader/x-vertex">
        varying vec3 vWorldPosition;
        void main() 
        {   vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
            vWorldPosition = worldPosition.xyz;
            gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
        }
    </script>
    <script id="sky-fragment" type="x-shader/x-fragment">
        uniform vec3 topColor;
        uniform vec3 bottomColor;
        uniform float offset;
        uniform float exponent;
        varying vec3 vWorldPosition;
        void main() 
        {    float h = normalize( vWorldPosition + offset ).y;
            gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( h, exponent ), 0.0 ) ), 1.0 );
        }
    </script>
    <!------------ /skybox shaders -------------------------------------->
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>

    <script src="js/user/scene1/myThree.js"></script>
    <script src="js/user/scene1/myPlugin.js"></script>
    <script src="js/user/scene1/myPlayer.js"></script>
    <script src="js/user/scene1/myGameModel.js"></script>
    <script src="js/user/scene1/myApp.js"></script>
    
    <script>
        /////////////////////////////////
        $(document).ready(function() 
        {   
        });

        /////////////////////////////////


        /////////////////////////////////      
        function myClickFunction() 
        {   var elem = document.activeElement;
            if(elem && elem.tagName == 'IFRAME')
            {    document.activeElement.blur();    //<<-- this command will default to body focus
                 //console.log('document.activeElement.blur();');
            }
        }
        
    </script>


    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <!-- Start of Rocket.Chat Livechat Script -->
    <!--
    <script type="text/javascript">
        (function(w, d, s, u) 
        {   w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
	        var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
	        j.async = true; j.src = 'https://rchat.1sekolah.xyz/packages/rocketchat_livechat/assets/rocket-livechat.js';
	        h.parentNode.insertBefore(j, h);
        })(window, document, 'script', 'https://rchat.1sekolah.xyz/livechat');
    </script>
    -->
    <!-- End of Rocket.Chat Livechat Script -->
    
</body>
</html>