body 
{   margin: 0;
    background: #000; 
}

h1 
{ font-size:        2.5rem;
  text-transform:   uppercase;
  margin-top:       0;
  margin-bottom:    0;
  letter-spacing:   .3rem;
}

video
{   position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*background: url('https://github.com/nagakontot/1sekolah/raw/master/mywebsocket/mymain/public/assets/firebase.png') no-repeat;*/
    background: url('https://www.1sekolah.xyz/assets/firebase.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.stopfade 
{  opacity: .5;
}

.flexbox 
{   display:        -ms-flex;
    display:        -webkit-flex;
    display:        flex;
    width:          100%;
}

.left 
{   /*background: #a0ffa0;*/
    width:          30%;
    min-width:      75px;
    flex-grow:      0;
}

.right 
{   /*background: #a0a0ff;*/
    width:          50%;
    flex-grow: 1;
}

.polina 
{   /*font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;*/
    position:           relative;/*absolute;*/
    font-family:        sans-serif;
    font-weight:        100; 
    background:         rgba(0,0,0,0.3);
    color:              white;
    padding:            1%;/*2rem;*/
    /*width:              45%;*//*38%;*//*33%;*/
    margin:             1%;/*5%;*//*2rem;*/
    /*float:            right;*/
    font-size:          1.2rem;
    text-align:         center; 
    vertical-align:     middle  
}

.polina button 
{ display:         block;
  width:           62%;
  padding:         .4rem;
  border:          1px solid white;/*none; */
  margin:          1rem auto; 
  font-size:       1.3rem;
  background:      rgba(255,255,255,0.23);
  color:           #fff;
  border-radius:   3px; 
  cursor:          pointer;
  transition:      .3s background;
}

.polina button:hover 
{  background: rgba(0,0,0,0.5);
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  /*html { background: url('https://www.github.com/nagakontot/1sekolah/raw/master/mywebsocket/mymain/public/asset/firebase.png') #000 no-repeat center center fixed; }*/
  html { background: url('./public/asset/firebase.png') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

/******************************************************************/

/******************************************************************/
@font-face {
  font-family: 'icomoon';
  src: url('https://www.1sekolah.xyz/icon/icomoon1.eot');
  src: url('https://www.1sekolah.xyz/icon/icomoon2.eot')    format('embedded-opentype'), 
       url('https://www.1sekolah.xyz/icon/icomoon.woff')    format('woff'),
       url('https://www.1sekolah.xyz/icon/icomoon.ttf')     format('truetype'),
       url('https://www.1sekolah.xyz/icon/icomoon.svg')     format('svg');
       
  font-weight:   normal;
  font-style:   normal;
}

[class^="icon-"],
[class*=" icon-"] 
{ font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-screen:before 
{ content: "\e600";
}

.icon-headphones:before 
{ content: "\e601";
}

.icon-pencil:before 
{ content: "\e602";
}

.icon-user:before 
{ content: "\e603";
}

.icon-camera:before 
{ content: "\e604";
}

.item 
{ cursor:     pointer;
  position:   relative;
  /*
  width:      100px;
  height:     100px;
  */
  width:      200px;
  height:     150px;
  overflow:   hidden;
  /*transform:  skew(-30deg);*/
  transform:  skew(-5deg);
  display:    inline-block;
  border:     2px solid #FFF;
  transition: width .5s;
  margin:     1%;
}

.item:after 
{ position: absolute;
  /*
  left: 12px;
  top: 59px;
  */
  left: 20px;
  top:  50px;
  color: #FFF;
  font-size: 40px;
  font-family: 'icomoon';
  /*transform: skew(30deg);*/
  transform: skew(5deg);
  -webkit-text-stroke: 1px black;
}

.item:nth-of-type(1) 
{ /*-webkit-filter: grayscale(60%) contrast(200%) hue-rotate(250deg) invert(20%);*/
}

.item:nth-of-type(1):after 
{ content: "\e600";
}

.item:nth-of-type(2) 
{ /*-webkit-filter: grayscale(100%);*/
  /*-webkit-filter: grayscale(60%) contrast(200%) hue-rotate(250deg) invert(20%);*/
}

.item:nth-of-type(2):after 
{ content: "\e601";
  /*font-size: 36px;*/
}

.item:nth-of-type(3) 
{ /*-webkit-filter: contrast(80%) saturate(20%);*/
}

.item:nth-of-type(3):after 
{ content: "\e602";
  /*font-size: 33px;*/
}

.item:nth-of-type(3) video 
{ /*
  top: -230px;
  left: -5px;
  */
}

.item:nth-of-type(4) 
{ /*-webkit-filter: contrast(150%) saturate(80%) invert(10%) grayscale(90%);*/
}

.item:nth-of-type(4):after 
{ content: "\e603";
}

.item:nth-of-type(4) video 
{ /*top: -60px;*/
}

.item:hover,
.item .active 
{ /*width: 490px;*/
  width:  300px;
}

.item video 
{ position: absolute;
  left: 0px;
  top:  0px;
  /*top: -140px;*/
  /*transform: skew(30deg);*/
  transform: skew(5deg);
}
